Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.0.0
Pillow>=10.0.0
djangorestframework-simplejwt>=5.3.0
django-paypal>=1.2.5
paypalrestsdk>=1.13.3
paypal-checkout-serversdk==1.0.1
django-environ>=0.10.0
black
flake8
drf-spectacular
colorama==0.4.6
